{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block page_header %}
<div class="header">
  <h3>{% trans "PROFILE DETAILS" %}</h3>
</div>
{% endblock page_header %}

{% block description %}
{% blocktrans %}Customize your gaming persona here. Update bio, select favorite game, and more. Make your mark in the gaming community.{% endblocktrans %}
{% endblock description %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/users/profile_details.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/users/common.css' %}">

<div class="form-container">
  <form method="post">
      {% csrf_token %}
      <div class="form-group">
          <label for="id_bio">{% trans "Bio" %}</label>
          {{ form.bio }}
      </div>
      <div class="form-group">
          <label for="id_gaming_alias">{% trans "Gaming Alias" %}</label>
          {{ form.gaming_alias }}
      </div>
      <div class="form-group">
          <label for="id_current_game">{% trans "Current Game" %}</label>
          {{ form.current_game }}
      </div>
      <div class="form-group">
          <label for="id_last_finished_game">{% trans "Last Finished Game" %}</label>
          {{ form.last_finished_game }}
      </div>
      <div class="form-group">
          <label for="id_favorite_game">{% trans "Favorite Game" %}</label>
          {{ form.favorite_game }}
      </div>
      <div class="form-group">
          <label for="id_favorite_franchise">{% trans "Favorite Franchise" %}</label>
          {{ form.favorite_franchise }}
      </div>
      <div class="form-group">
          <label for="id_favorite_character">{% trans "Favorite Character" %}</label>
          {{ form.favorite_character }}
      </div>
      <div class="form-group">
          <label for="id_favorite_soundtrack">{% trans "Favorite Soundtrack" %}</label>
          {{ form.favorite_soundtrack }}
      </div>
      <div class="form-group">
          <label for="id_gaming_genres">{% trans "Favorite Genres" %}</label>
          {{ form.gaming_genres }}
          {% for error in form.gaming_genres.errors %}
            <div class="custom-error-list">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-group">
          <label for="id_favorite_game_modes">{% trans "Favorite Game Modes" %}</label>
          {{ form.favorite_game_modes }}
          {% for error in form.favorite_game_modes.errors %}
            <div class="custom-error-list">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-group">
          <label for="id_type_of_gamer">{% trans "Gaming Commitment" %}</label>
          {{ form.gaming_commitment }}
      </div>
      <div class="form-group">
          <label for="id_main_gaming_platform">{% trans "Main Platform" %}</label>
          {{ form.main_gaming_platform }}
      </div>
      <div class="form-group">
          <label for="id_gaming_setup">{% trans "Gaming Setup" %}</label>
          {{ form.gaming_setup }}
      </div>
      <div class="form-group">
          <label for="id_main_gaming_platform">{% trans "Preferred Streaming Platform" %}</label>
          {{ form.streaming_preferences }}
      </div>
      <div class="form-group">
        <label for="id_social_media">{% trans "Social Media" %}</label>
        {{ form.social_media }}
        {% for error in form.social_media.errors %}
            <div class="custom-error-list">{{ error }}</div>
        {% endfor %}
    </div>
      <button type="submit">{% trans "Save changes" %}</button>
  </form>
</div>

<script src="{% static 'js/users/profile_details.js' %}"></script>

{% endblock %}
