SECRET_KEY = ''   # Add your Secret Key
SENDGRID_API_KEY = ''    # Add your Sendgrid API KEY
DEFAULT_FROM_EMAIL = ''    # Add your email to send emails from
EMAIL_USER_CONTACT = ''    # Add your Email to receive contact forms.
GBAPI_KEY = ''    # Add your Giant Bomb's API KEY
RECAPTCHA_PUBLIC_KEY = ''    # Add your recaptcha PUBLIC_KEY
RECAPTCHA_PRIVATE_KEY = ''    # Add your recaptcha PRIVATE_KEY
GOOGLE_API_KEY = ''    # Add your Google API KEY
GAMESPOT_API_KEY = ''   # Add your GameSpot API KEY
DEBUG = ''   # Add True or False
GOOGLE_CLIENT_ID = ''   # Add your Google Client ID
GOOGLE_CLIENT_SECRET = ''   # Add your Google Client Secret
RAWG_API_KEY = '' #   Add your RAWG API KEY
SECURE_CONNECTION = ''   # Add True or False (Use ngnix server or not)