dj-database-url
django
django-bootstrap4
django-sendgrid
gunicorn
pytz
sqlparse
psycopg2
whitenoise
python-dotenv
Pillow
captcha
django-recaptcha
beautifulsoup4
six
sendgrid
django-sendgrid-v5