django
python-dotenv
django-bootstrap4
django-recaptcha
django-sendgrid-v5
daphne
django-rosetta
scipy
nltk
pandas
channels
pillow
fuzzywuzzy
python-Levenshtein
six
beautifulsoup4
google-api-python-client
django-tz-detect
whitenoise
gunicorn
psycopg2
dj_database_url
