{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en-GB">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/pscicon.ico' %}" type="image/x-icon">
    <title>{% block title %}{{ page_title }}{% endblock title %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light">
      <div class="container">
        <a class="navbar-brand" href="{% url 'playstyle_compass:index'%}">
          <img src="{% static 'images/playstyle.png' %}" alt="PlayStyle Compass Logo">
        </a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'playstyle_compass:gaming_preferences'%}">
              Define Playstyle
            </a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'playstyle_compass:update_preferences'%}">
              Your Playstyle
            </a>
          </li>
          {% endif %}
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto-custom">
            {% if user.is_authenticated %}
            <li class="nav-item">
              {% if user.userprofile.profile_picture %}
              <label for="profile-picture-upload" class="profile-picture-label">
                <img src="{{ user.userprofile.profile_picture.url }}" alt="{{ user.username }}'s Profile Picture" class="profile-picture mr-2" id="profile-picture">
              </label>
              {% else %}
              <label for="profile-picture-upload" class="profile-picture-label">
                <img src="{% static 'images/default_profile_picture.png' %}" alt="{{ user.username }}'s Default Profile Picture" class="profile-picture mr-2" id="profile-picture">
              </label>
              {% endif %}
              <input type="file" id="profile-picture-upload" class="sr-only" accept="image/*" data-profile-url="{% url 'users:profile' %}" data-csrf-token="{{ csrf_token }}">
            </li>
            <li class="nav-item">
              <span class="navbar-text mr-3">Hello, {{ user.userprofile.profile_name|default:user.username }}.</span>
            </li>
            <li class="nav-item dropdown" id="hoverDropdown">
              <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account Actions
              </a>
              <div class="dropdown-menu" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="{% url 'users:profile' %}">Change Profile Picture</a>
                <a class="dropdown-item" href="{% url 'users:change_password' %}">Change Password</a>
                <a class="dropdown-item" href="{% url 'users:change_email' %}">Change Email</a>
                <a class="dropdown-item" href="{% url 'users:delete_account' %}">Delete Account</a>
                <a class="dropdown-item" href="{% url 'users:logout' %}">Log Out</a>
              </div>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:register' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:contact' %}">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
    <script src="{% static 'js/email_confirmation.js' %}"></script>

    <main role="main" class="container">
      <div class="page-header">
        <div id="header-content">
        {% if messages %}
        <div class="message">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        {% if not user.userprofile.email_confirmed %}
        <div class="message">
          <div class="alert alert-warning">
            Please confirm your email address to unlock all features.
            <a href="#" class="resend-link" id="resend-link" data-url="{% url 'users:resend_activation_link' %}">Resend verification link</a>
            <div id="success-message"></div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endif %}
      {% block page_header %}{% endblock page_header %}
      </div>
      </div>

      <div class="content">
        {% block content %}{% endblock content %}
      </div>
      </div>
    </main>
    <footer class="footer">
      <div class="my-footer">
        <p>&copy; {{ current_year }} PlayStyle Compass. All rights reserved.</p>
      </div>
    </footer>
  </body>

</html>