{% load bootstrap4 %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="icon" href="{% static 'images/pscicon.ico' %}" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="">
  <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin="">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <title>{% block title %}{{ page_title }}{% endblock title %}</title>
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  <script src="{% static 'js/themes.js' %}" defer></script>
  <script src="{% static 'js/lightbox-plus-jquery.min.js' %}" defer></script>
  <script src="{% static 'js/get_notifications.js' %}" defer></script>
  <script src="{% static 'js/translator.js' %}" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/users/global_chat.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/emoji-mart/css/emoji-mart.css">
</head>

{% load tz_detect %}
{% tz_detect %}

<body>
  <script src="{% static 'js/start_theme.js' %}" ></script>
  <nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'playstyle_compass:index' %}">
      <img id="logo-image" style="visibility: hidden;"
        src="{% static 'images/playstyle.png' %}"
        alt="PlayStyle Compass Logo"
        data-light-src="{% static 'images/playstyle.png' %}"
        data-dark-src="{% static 'images/playstyle-dark.png' %}">
    </a>

    <div class="custom-collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto-custom">

        {% if user.is_authenticated %}

        <!-- Playstyle -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="playstyleDropdown" role="button" data-toggle="dropdown">
            {% trans "Playstyle" %}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'playstyle_compass:gaming_preferences'%}">{% trans "Create Playstyle" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:update_preferences'%}">{% trans "Manage Playstyle" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:similar_playstyles'%}">{% trans "Kindred Playstyles" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:play_histories'%}">{% trans "Kindred Play Histories" %}</a>
          </div>
        </li>

        <!-- Games -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="gamesDropdown" role="button" data-toggle="dropdown">
            {% trans "Games" %}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'playstyle_compass:game_library'%}">{% trans "Game Library" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:explore_game_lists'%}"> {% trans "Game Lists" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:similar_games_directory'%}">{% trans "Similar Games" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:view_franchises'%}">{% trans "Franchises" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:characters'%}">{% trans "Characters" %}</a>
          </div>
        </li>

        <!-- Categories -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="categoriesDropdown" role="button" data-toggle="dropdown">
            {% trans "Categories" %}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'playstyle_compass:beginner_games'%}">{% trans "Beginner-Friendly Games" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:popular_games'%}">{% trans "Popular Games" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:top_rated_games'%}">{% trans "Top Rated Games" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:upcoming_games'%}">{% trans "Upcoming Games" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:singleplayer_games'%}">{% trans "Single-player Games" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:multiplayer_games'%}">{% trans "Multiplayer Games" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:open_world_games'%}">{% trans "Open-World Games" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:indie_games'%}">{% trans "Indie Games" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:steam_games'%}">{% trans "Steam Games" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:free_to_play_games'%}">{% trans "Free to Play Games" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:linear_gameplay_games'%}">{% trans "Linear Gameplay Games" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:vr_games'%}">{% trans "VR Games" %}</a>
          </div>
        </li>

        <!-- Discover -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="discoverDropdown" role="button" data-toggle="dropdown">
            {% trans "Discover" %}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'playstyle_compass:get_recommendations'%}">{% trans "Game Recommendations" %}</a>
            <a class="dropdown-item" href="{% url 'users:gaming_quiz'%}">{% trans "Preference Quiz" %}</a>
            <a class="dropdown-item" href="{% url 'users:quiz_recommendations'%}">{% trans "Quiz Recommendations" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:latest_news'%}">{% trans "Gaming News" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:deals_list'%}">{% trans "Game Deals" %}</a>
          </div>
        </li>

        <!-- Collections -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="collectionsDropdown" role="button" data-toggle="dropdown">
            {% trans "Collections" %}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'playstyle_compass:create_game_list'%}">{% trans "Create Game List" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:user_game_lists' request.user.id%}">{% trans "My Game Lists" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:favorite_game_lists' request.user.id%}">{% trans "Favorite Game Lists" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:favorite_games'%}">{% trans "Favorite Games" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:game_queue'%}">{% trans "Game Queue" %}</a>
          </div>
        </li>

        <!-- Community -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="communityDropdown" role="button" data-toggle="dropdown">
            {% trans "Community" %}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'playstyle_compass:create_poll'%}">{% trans "Create Poll" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:user_polls' request.user.id%}">{% trans "My Polls" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:voted_polls'%}">{% trans "Voted Polls" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:community_polls'%}">{% trans "Community Polls" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:completed_polls'%}">{% trans "Completed Polls" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:user_reviews'%}">{% trans "Game Reviews" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:reviewed_game_lists'%}">{% trans "Game List Reviews" %}</a>
          </div>
        </li>

        <!-- Social -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="socialDropdown" role="button" data-toggle="dropdown">
            {% trans "Social" %}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'users:inbox'%}">{% trans "Messages" %}</a>
            <a class="dropdown-item" href="{% url 'users:following_list' user.id %}">{% trans "Following List" %}</a>
            <a class="dropdown-item" href="{% url 'users:followers_list' user.id %}">{% trans "Followers List" %}</a>
            <a class="dropdown-item" href="{% url 'users:friends_list' user.id %}">{% trans "Friends List" %}</a>
            <a class="dropdown-item" href="{% url 'users:friend_requests' user.id %}">{% trans "Friend Requests" %}</a>
            <a class="dropdown-item" href="{% url 'users:chat_list' %}">{% trans "Chat Rooms" %}</a>
            <a class="dropdown-item" href="{% url 'users:block_list' %}">{% trans "Blocked Users" %}</a>
          </div>
        </li>

        <!-- Notifications + Contact -->
        <li class="nav-item dropdown" id="notifications" data-mark-read="{% url 'users:mark_notification_as_read' 0 %}"
          data-mark-inactive="{% url 'users:delete_notification' 0 %}">
          <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <i id="bellCount" class="fa-solid fa-bell notification-bell" data-count="0"></i>
          </a>
          <ul class="dropdown-menu notifications-dropdown text-wrap" id="notify"></ul>
        </li>

        <li class="nav-item">
          <a class="nav-link contact-us" href="{% url 'users:contact' %}">
            {% trans "Contact" %} <i class="fa-regular fa-comments contact-icon"></i>
          </a>
        </li>

        <!-- User Profile Avatar Dropdown -->
        <li class="nav-item dropdown user-menu">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userMenu" role="button" data-toggle="dropdown">
            <img src="{{ user.userprofile.profile_picture.url }}" alt="User" class="user-avatar" id="profile-picture">
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
            <li class="dropdown-user-section">
              <div class="user-info">
                <span class="user-label">Your Profile</span>
                <span class="user-name">{{ user.userprofile.profile_name|default:user.username }}</span>
              </div>
            </li>
            <h6 class="dropdown-header">{% trans "Account Overview" %}</h6>
            <a class="dropdown-item" href="{% url 'users:view_profile' user.userprofile.profile_name %}">{% trans "View Profile" %}</a>
            <a class="dropdown-item" href="{% url 'users:profile_details'%}">{% trans "Edit Profile" %}</a>
            <a class="dropdown-item" href="{% url 'users:profile_picture' %}">{% trans "Change Picture" %}</a>
            <a class="dropdown-item" href="{% url 'users:change_profile_name' %}">{% trans "Change Profile Name" %}</a>

            <h6 class="dropdown-header">{% trans "Shared Content" %}</h6>
            <a class="dropdown-item" href="{% url 'playstyle_compass:games_shared'%}">{% trans "Games" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:shared_game_lists'%}">{% trans "Game Lists" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:shared_polls'%}">{% trans "Polls" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:shared_deals'%}">{% trans "Deals" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:shared_reviews'%}">{% trans "Reviews" %}</a>

            <h6 class="dropdown-header">{% trans "Preferences" %}</h6>
            <a class="dropdown-item" href="{% url 'users:notification_settings'%}">{% trans "Notifications" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:privacy_settings'%}">{% trans "Privacy" %}</a>
            <a class="dropdown-item" href="{% url 'users:change_password' %}">{% trans "Password" %}</a>
            <a class="dropdown-item" href="{% url 'users:change_email' %}">{% trans "Email" %}</a>

            <h6 class="dropdown-header">{% trans "Developer Tools" %}</h6>
            <a class="dropdown-item" href="{% url 'users:manage_api_key' %}">{% trans "API Key" %}</a>
            <a class="dropdown-item" href="{% url 'playstyle_compass:api-documentation' %}">{% trans "Documentation" %}</a>

            <h6 class="dropdown-header">{% trans "Account Management" %}</h6>
            <a class="dropdown-item" href="{% url 'users:delete_account' %}">{% trans "Deactivate Account" %}</a>
            <a class="dropdown-item" href="{% url 'users:logout' %}">{% trans "Sign Out" %}</a>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link offline" href="{% url 'playstyle_compass:gaming_preferences'%}">
            {% trans "Create Playstyle" %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link offline" href="{% url 'playstyle_compass:game_library'%}">
            {% trans "Game Library" %}
          </a>
        </li>
        <li class="nav-item">
        <a class="nav-link offline" href="{% url 'playstyle_compass:explore_game_lists'%}">
              {% trans "Game Lists" %}
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link offline" href="{% url 'playstyle_compass:similar_games_directory'%}">
              {% trans "Similar Games" %}
            </a>
          </li>
        <li class="nav-item">
          <a class="nav-link offline" href="{% url 'playstyle_compass:view_franchises'%}">
            {% trans "Franchises" %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link offline" href="{% url 'playstyle_compass:characters'%}">
            {% trans "Characters" %}
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link offline" href="{% url 'playstyle_compass:api-documentation' %}">{% trans "API Docs" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link offline" href="{% url 'users:register' %}">{% trans "Register" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link offline" href="{% url 'users:login' %}">{% trans "Log in" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link contact-us" href="{% url 'users:contact' %}">{% trans "Contact" %} <i class="fa-regular fa-comments contact-icon"></i></a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

  <div class="page-header">
    <div id="header-content">
      {% if messages %}
      <div class="message">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% if user.is_authenticated %}
      {% if not user.userprofile.email_confirmed %}
      <div class="email-message" id="resend-email" data-email-url="{% url 'users:resend_activation_link' %}">
        <div class="alert alert-warning">
          {% trans "Please confirm your email address to unlock all features." %}
          <a href="#" class="resend-link" id="resend-link">
            {% trans "Resend verification link" %}</a>
          <div id="success-message"></div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endif %}
    {% block page_header %}{% endblock page_header %}
  </div>
  </div>

  <main role="main" class="container">
    <div class="header-description">
      <p class="header-desc" id="description-content">{% block description %}{% endblock description %}</p>
    </div>
    {% if page_info %}
    <div>
      <p>{% block page_info %}{% endblock page_info %}</p>
    </div>
    {% endif %}
    <div class="content">
      {% block content %}{% endblock content %}
    </div>
    </div>
  </main>

<div class="language-switcher">
    <div class="globe-container">
        <i class="fa-solid fa-globe globe-icon" title="Language Switcher"></i>
    </div>
    <div class="language-options" data-change-language-url="{% url 'users:change_language' %}">
        <ol>
            <li>
                <a
                    class="nav-link nav-user waves-eff"
                    onclick="updateLanguage(event, 'en')"
                    role="button"
                >
                    <span class="flag-icon en"></span>
                    <span class="language-name en">{% trans "English" %}</span>
                </a>
            </li>
            <li>
                <a
                    class="nav-link nav-user waves-eff"
                    onclick="updateLanguage(event, 'ro')"
                    role="button"
                >
                    <span class="flag-icon ro"></span>
                    <span class="language-name ro">{% trans "Romanian" %}</span>
                </a>
            </li>
        </ol>
    </div>
</div>

<div class="dark-toggle">
  <i id="theme-icon" class="fa-solid fa-moon dark-icon" title="Dark Theme Toggle" onclick="toggleTheme()"></i>
</div>

{% if user.is_authenticated %}
<button id="toggle-chat-button" class="toggle-chat-button">{% trans "Global Chat" %}</button>

<div class="global-chat-container" id="global-chat-container" data-user-id="{{ request.user.id }}"
    data-profile-url-template="{% url 'users:view_profile' 'PROFILE_NAME_PLACEHOLDER' %}" data-get-messages="{% url 'users:get_chat_messages' %}"style="display: none;">
  <div class="global-chat-header">
    <h3>{% trans "GLOBAL CHAT" %}</h3>
  </div>
  <div class="global-chat-description">
    <p>{% trans "Connect with players from around the world and share your gaming experiences!" %}</p>
  </div>
  <button id="load-more-messages" class="load-more-button">{% trans "Show More" %}</button>
  <div id="global-chat-messages" class="global-chat-messages"></div>

  <form id="global-chat-form" data-url="{% url 'users:create_global_chat_message' %}">
    <div class="global-input-container">
      <button type="button" id="global-emoji-button" class="global-emoji-button" title="Emoji">😊</button>
      <textarea class="global-message-textarea" id="global-input" name="content" x-model="content" autofocus placeholder="{% trans 'Message...' %}"></textarea>
      <button type="submit" class="global-send-button">➤</button>
    </div>
    <div id="global-emoji-picker" class="global-emoji-picker"></div>
    <div class="global-error-message">
      <p text="errors.message"></p>
    </div>
  </form>
</div>
{% endif %}

  <footer class="footer">
    <div class="my-footer">
      <p>&copy; 2023-{{ current_year }} {% trans "PlayStyle Compass. All rights reserved." %}</p>
    </div>
  </footer>

  <div class="scroll-top-container">
    <button class="scroll-top-btn" id="scroll-top" title="{% trans 'Go top' %}">
    <i class="fas fa-arrow-up"></i>
    </button>
  </div>

  {% include 'csfr_token.html' %}
  {% include 'used_variables.html' %}

  <script src="{% static 'js/base.js' %}" defer></script>
  <script src="{% static 'js/dropdown.js' %}" defer></script>
  <script src="{% static 'js/email_confirmation.js' %}" defer></script>
  <script src="{% static 'js/users/show_hide_password.js' %}" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js"></script>
  <script src="{% static 'js/users/global_chat.js' %}" defer></script>

</body>
</html>