.franchise-container li, .character-container li {
  display: flex;
  align-items: start;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}

.franchise-info, .character-info {
  flex: 1;
  padding: 5px 10px 5px 10px;
}

.franchise-image img, .character-image img {
  max-width: 210px;
  max-height: 500px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 5;
}

.read-button, .read-button-games {
  background: none;
  border: none;
  padding: 0;
  color: #007BFF;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}

.read-button:hover, .read-button-games:hover {
  text-decoration: none;
}

label[for="sort-order"] {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

#sort-order {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  outline: none;
}

#sort-order option {
  font-size: 14px;
  background-color: #f9f9f9;
  color: #333;
}

#sort-order:hover,
#sort-order:focus {
  border: 1px solid #333;
}

.gallery-image img {
  max-width: 150px;
  max-height: 300px;
  border: none;
  border-radius: 5px;
  object-fit: cover;
}

strong {
  font-weight: bold;
}

small {
  font-size: 0.7em;
}