.chat-container {
    max-width: 550px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #e6f7ff;
}

.chat-messages {
    background: #e6f7ff;
    border-top: 1px solid lightgray;
    padding: 15px;
    margin-bottom: 0;
    font-size: 16px;
    height: 60vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #ced6e0 #f4f7f9;
    transition: background-color 0.3s;
}

.chat-messages::-webkit-scrollbar {
    width: 8px;
}

.chat-messages::-webkit-scrollbar-track {
    background: #f4f7f9;
}

.chat-messages::-webkit-scrollbar-thumb {
    background-color: #ced6e0;
    border-radius: 20px;
}

form {
    background: #e6f7ff;
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}


textarea {
    background: #f8f9fa;
    border: 1px solid lightgray;
    box-sizing: border-box;
    width: calc(100% - 30px);
    padding: 12px 20px 12px 12px;
    border-radius: 6px;
    min-height: 100px;
    font-size: 16px;
    line-height: 1.5;
    resize: none;
    outline: none;
    margin-top: 15px;
}

.send-button {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    border: none;
    background: none;
    font-size: 34px;
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s ease;
}

.send-button:not([disabled]):hover {
    color: #0056b3;
}

.send-button:focus {
    outline: none;
    box-shadow: none;
}

.send-button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.send-button:active {
    transform: translateY(-50%) scale(0.95);
}

.message-author {
    font-size: 12px;
    font-weight: bold;
    color: #6f42c1;
}

.message-content {
    font-size: 14px;
    line-height: 1.30;
}

[x-cloak] {
    display: none !important;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin-top: 15px;
    text-align: center;
}

.message-box:last-child {
    border-bottom: none;
    margin-bottom: 10px;
}

.no-messages {
    text-align: center;
    color: #999;
    font-style: italic;
    margin-top: 10px;
}

.input-container {
    display: flex;
    align-items: center;
    position: relative;
}

.message-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.message-wrapper .sent {
    border-right: 4px solid #007bff;
}

.message-wrapper .received {
    border-left: 4px solid #007bff;
}

.message-wrapper.sent .message-box {
    justify-content: flex-end;
    background: #cce7ff;
}

.message-wrapper.received .message-box {
    justify-content: flex-start;
    background: #b3daff;
}

.message-box {
    display: flex;
    align-items: flex-start;
    background: rgba(0, 123, 255, 0.1);
    margin-bottom: 15px;
    padding: 6px 12px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    border-bottom: 1px solid #ced6e0;
    word-wrap: break-word;
    overflow: hidden;
    width: fit-content; 
    max-width: 100%;
}

.message-box:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.message-content-wrapper {
    word-wrap: break-word;
    overflow: hidden;
    width: 100%;
}

.chat-profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.chat-profile-picture:hover {
    transform: scale(1.1);
}

.sent {
    justify-content: flex-end;
}

.received {
    justify-content: flex-start;
}

.sent .chat-profile-picture {
    order: 2;
    margin-left: 10px;
    margin-right: 0;
}

.sent .message-content-wrapper {
    align-items: flex-end;
    text-align: right;
}

.received .message-content-wrapper {
    align-items: flex-start;
    text-align: left;
}


.chat-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    background: #e6f7ff;
    border: none;
}

.chat-options {
    position: relative;
}

.options-button {
    cursor: pointer;
    font-size: 16px;
    color: #333;
    padding: 5px;
}

.options-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #4a5a70;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    z-index: 1000;
    padding: 5px;
    margin-top: 8px;
}

.options-menu button {
    display: block;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 11px;
    color: white;
    white-space: nowrap;
    padding: 5px 15px;
    margin: 0;
    margin-right: -15px;
    margin-left: -15px;
}

.options-menu button:hover {
    background-color: #2f4255;
}

#typing-indicator {
    display: none;
    position: absolute;
    top: 71%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: #90EE90;
    color: black;
    font-size: 12px;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeinout 2s infinite;
}

@keyframes fadeinout {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

.edit-message-button, .save-message-button, .cancel-message-button {
    background-color: transparent;
    color: #333;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    vertical-align: middle;
}

.edit-message-button:hover, .save-message-button:hover, .cancel-message-button:hover {
    color: black;
}

.edit-message-button:focus, .save-message-button:focus, .cancel-message-button:focus {
    outline: none;
}

.edit-message-button {
    display: inline-block;
}

.edit-textarea {
    width: 100%;
    min-height: 20px;
    max-height: 50px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: -5px;
}

.edit-message-button {
    display: none;
}

.message-box:hover .edit-message-button {
    display: inline-block;
}
