.chat-container {
    position: relative;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    background: #e6f7ff;
}

.chat-messages {
    background: #e6f7ff;
    padding: 15px;
    margin-bottom: 0;
    font-size: 16px;
    height: 60vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #ced6e0 #f4f7f9;
    transition: background-color 0.3s;
}


form {
    background: #e6f7ff;
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

.send-button {
    position: absolute;
    right: -14px;
    top: 60%;
    transform: translateY(-50%);
    padding: 0;
    border: none;
    background: none;
    font-size: 32px;
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s ease;
}

.send-button:not([disabled]):hover {
    color: #0056b3;
}

.send-button:focus {
    outline: none;
    box-shadow: none;
}

.send-button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.send-button:active {
    transform: translateY(-50%) scale(0.95);
}

.message-content {
    font-size: 14px;
    line-height: 1.30;
    white-space: pre-wrap;
    word-wrap: break-word;
}

[x-cloak] {
    display: none !important;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 6px;
    margin-top: 15px;
    text-align: center;
}

.message-box:last-child {
    border-bottom: none;
    margin-bottom: 10px;
}

.no-messages, .loading-messages {
    text-align: center;
    color: #999;
    font-style: italic;
    margin-top: 5px;
}


.input-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.message-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 5px;
    align-items: center;
}

.message-wrapper .sent {
    border-right: 4px solid #007bff;
}

.message-wrapper .received {
    border-left: 4px solid #007bff;
}

.message-wrapper.sent .message-box {
    justify-content: flex-end;
    background: #cce7ff;
}

.message-wrapper.received .message-box {
    justify-content: flex-start;
    background: #b3daff;
}

.message-box {
    display: flex;
    align-items: flex-start;
    background: rgba(0, 123, 255, 0.1);
    margin-bottom: 15px;
    padding: 6px 12px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    border-bottom: 1px solid #ced6e0;
    word-wrap: break-word;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
}

.message-box:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.message-content-wrapper {
    word-wrap: break-word;
    overflow: hidden;
    width: 100%;
}

.chat-profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.chat-profile-picture:hover, .header-profile-picture:hover {
    transform: scale(1.1);
}

.header-profile-picture {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}

.sent {
    justify-content: flex-end;
}

.received {
    justify-content: flex-start;
}

.sent .chat-profile-picture {
    order: 2;
    margin-left: 10px;
    margin-right: 0;
}

.sent .message-content-wrapper {
    align-items: flex-end;
    text-align: right;
}

.received .message-content-wrapper {
    align-items: flex-start;
    text-align: left;
}


.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    background: #4a5a70;
    border: none;
    border-radius: 6px 6px 0 0;
}

.chat-options {
    position: relative;
}

.options-button {
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    padding: 5px;
}

.options-button:hover {
    color: #E8E8E8;
}

.options-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #4a5a70;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    z-index: 1000;
    padding: 5px;
    margin-top: 15px;
}

.options-menu button {
    display: block;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 11px;
    color: white;
    white-space: nowrap;
    padding: 5px 15px;
    margin: 0;
    margin-right: -10px;
    margin-left: -10px;
}

.options-menu button:hover {
    background-color: #2f4255;
}

#typing-indicator {
    display: none;
    position: absolute;
    top: 71%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: #90EE90;
    color: black;
    font-size: 12px;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeinout 2s infinite;
}

@keyframes fadeinout {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

.edit-message-button, .save-message-button, .cancel-message-button {
    background-color: transparent;
    color: #333;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

.edit-message-button {
    padding: 0;
    margin: 0;
}

.edit-message-button:hover, .save-message-button:hover, .cancel-message-button:hover {
    color: black;
}

.edit-message-button:focus, .save-message-button:focus, .cancel-message-button:focus {
    outline: none;
}

.edit-message-button {
    display: inline-block;
}

.edit-textarea {
    width: 100%;
    min-height: 20px;
    max-height: 50px;
    font-size: 14px;
    line-height: 1.30;
    resize: vertical;
    box-sizing: border-box;
    background: #f8f9fa;
    border: 1px solid lightgray;
    padding: 12px 20px 12px 12px;
    border-radius: 6px;
    resize: none;
    outline: none;
    margin-top: 15px;
}

.edit-message-button {
    display: none;
}

.message-box:hover .edit-message-button {
    display: inline-block;
}

.profile-link {
    margin: 0;
    font-size: 1.1em;
    color: #FFFFFF;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    align-self: center;
}

.profile-link:hover {
    text-decoration: none;
    color: #b3daff;
}

.message-textarea {
    background: #f8f9fa;
    border: 1px solid lightgray;
    box-sizing: border-box;
    width: calc(100% - 73px);
    padding: 12px 20px 12px 12px;
    border-radius: 6px;
    height: 45px;
    min-height: 45px;
    max-height: 100px;
    font-size: 14px;
    line-height: 1.30;
    resize: none;
    outline: none;
    margin-top: 15px;
    overflow-y: hidden;
    margin-left: 21px;
}

.message-textarea::-webkit-scrollbar {
  width: 5px;
}

.message-textarea::-webkit-scrollbar-thumb {
  border-radius: 6px !important;
}

.message-timestamp, .message-edited {
    font-size: 11px;
    color: #888;
    right: 0;
    text-align: right;
}

.emoji-picker {
    display: none;
    position: absolute;
    bottom: 20px;
    left: -60px;
    z-index: 1000;
}

.emoji-picker.visible {
    display: block;
}

.emoji-button {
    font-size: 23px;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 0px;
    margin-right: -22px;
    align-self: center;
    margin-bottom: -10px;
}

.emoji-button:hover {
    transform: scale(1.1);
}

.emoji-button:active {
    transform: scale(0.95);
}

.emoji-button:focus {
    outline: none;
}

.search-container {
    display: none;
    margin-left: 280px; 
}

#search-input {
    width: 170px;
    height: 35px;
    padding: 5px;
    font-size: 14px;
}


#color-picker-container {
    position: absolute;
    top: -5px;
    right: -100px;
    margin-top: 10px;
    background: #4a5a70;
    padding: 7px;
    padding-left: 20px;
    border-radius: 0 5px 5px 0;
    display: none;
}

#default-color-button {
    padding: 3px 6px;
    font-size: 11px;
    border: none;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin-left: 5px;
}


#default-color-button:hover {
    background-color: #2f4255;
}

.date-header {
    display: inline-block;
    text-align: center;
    color: #D9D9D9;
    font-size: 9px;
    margin: 0;
    padding: 4px 8px;
    background-color: #4a5a70;
    border-radius: 20px;
    font-weight: bold;
    position: relative;
    left: 51%;
    transform: translateX(-50%);
    position: absolute;
    margin-top: -10px;
}

.file-link {
    color: #007bff;
    text-decoration: none;
}

.file-link:hover {
    text-decoration: underline;
}

.message-file {
    margin-top: 3px;
    font-size: 14px;
}

.file-button {
    color: #293d48;
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: -12px;
    margin-right: -2px;
    align-self: center;
    margin-bottom: -10px;
}

.file-button:hover {
    transform: scale(1.1);
}

.file-button:active {
    transform: scale(1.05);
}

.file-button:focus {
    outline: none;
}

.file-indicator {
    position: absolute;
    top: 5px;
    right: 35px;
    transform: translateY(-50%);
    font-size: 12px;
    color: green;
    display: none;
    white-space: nowrap;
}

#status {
    font-size: 11px;
    text-align: left;
    transition: color 0.3s;
    align-self: center;
    flex-grow: 1;
    margin-left: 4px;
}

#status.online {
    color: lightgreen;
}


#status.offline {
    color: gray;
}
