.my-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.custom-error-list,
.custom-error-list ul {
  color: #dc3545;
  font-size: 14px;
  list-style: none;
  padding: 5px 0px 0px 0px;
}

.my-container h2 {
  padding: 10px 0;
  text-align: center;
  margin-bottom: 15px;
  font-size: 24px;
}

.my-container form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 9px 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  display: block;
  margin: 0 auto;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.show-hide-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: #fff;
  font-size: 15px;
  color: #007c89;
  font-weight: bold;
}

.show-hide-button:hover,
.show-hide-button:focus {
  background-color: #fff;
  border: none;
  color: #00323a;
}

.custom-input-group {
  position: relative;
  display: flex;
  width: 100%;
}

.help-text {
  font-size: 12px;
  color: #6c757d;
  margin-top: 5px;
}