.my-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.my-container h2 {
    padding: 10px 0;
    text-align: center;
    margin-bottom: 15px;
    font-size: 24px;
}

.my-container form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.text-danger {
    color: #f00;
    font-size: 14px;
}

.captcha-error {
    color: red;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.captcha-error ul {
    list-style-type: none;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 auto;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
