.delete-container {
  max-width: 428px;
  margin: 0 auto;
  padding: 0px;
}

.delete-account {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.delete-account h2 {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 22px;
}

.warning-message {
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  color: #a94442;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.warning-message p {
  font-size: 16px;
  text-align: center;
}

.error-message {
  color: #dc3545;
  font-size: 14px;
  list-style: none;
}

.error-message ul {
  list-style-type: none;
}

button.btn-danger {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

button.btn-danger.disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

button.btn-warning {
  background-color: #f39c12;
  color: #fff; /* White text */
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

button.btn-warning.disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.text-center {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}
