.delete-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 0px;
}

.delete-account {
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.delete-account h2 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 22px;
}

.warning-message {
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.warning-message p {
    font-size: 16px;
    text-align: center;
}

.error-message {
    color: red;
    font-size: 15px;
}

.error-message ul {
    list-style-type: none;
}

form {
    text-align: center;
}

button.btn-danger {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}


.btn-danger.disabled {
    cursor: not-allowed;
    opacity: 0.7;
}
