.card {
  border-radius: 50px;
  padding: 150px;
  background-color: #f7f7f7;
  transition: transform 0.03s ease-in-out;
}

.card:hover {
  transform: scale(1.01);
}

.card-title {
  color: #333;
  font-size: 20px;
  margin-top: 10px;
  padding-right: 5px;
}

.card-title:hover {
  text-decoration: none !important;
}

.friends-text {
  color: black;
  font-size: 12px;
  color: #1a1a1a;
  margin: 0;
  font-weight: bold;
}

.friends-text-container {
  background-color: lightgreen;
  border: none;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.remove-friend-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 12px;
}

.remove-friend-btn:hover {
  background-color: #c82333;
}

.friend-profile-picture {
  padding: 6px 3px 0px 6px;
}

.friend-profile-picture img {
  max-width: 110px;
  max-height: 110px;
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 767px) {
  .card {
    padding: 10px;
  }

  .card-title {
    font-size: 14px;
  }

  .friends-text-container {
    padding: 8px;
  }

  .remove-friend-btn {
    padding: 4px 8px;
    font-size: 10px;
  }

  .friend-profile-picture img {
    max-width: 60px;
    max-height: 60px;
  }
}