.card
{
  border-radius: 50px;
  padding: 150px;
  background-color: #f7f7f7;
  transition: transform 0.03s ease-in-out;
}

.card:hover
{
  transform: scale(1.01);
}

.card-title
{
  font-size: 19px;
  margin-top: 10px;
}

.decline-friend-request
{
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 12px;
  margin: 4px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.confirm-friend-request
{
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 8px 12px;
  margin: 4px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.decline-friend-request:hover
{
  background-color: #bd2130;
}

.confirm-friend-request:hover
{
  background-color: #218838;
}

.sent-friend-requests
{
  margin-top: 25px;
}

.sent-requests, .incoming-requests
{
  text-align: center;
  font-size: 19px;
  color: #2d3e50;
  margin-bottom: 8px;
  font-weight: bold;
  text-transform: uppercase;
}

.friend-profile-picture
{
  padding: 7px 3px 0px 6px;
}

.friend-profile-picture img
{
  max-width: 110px;
  max-height: 110px;
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 767px)
{
  .card
  {
    padding: 10px;
  }

  .card-title
  {
    font-size: 14px;
  }

  .decline-friend-request,
  .confirm-friend-request
  {
    padding: 4px 8px;
    font-size: 10px;
  }

  .sent-friend-requests
  {
    margin-top: 10px;
  }

  .sent-requests,
  .incoming-requests
  {
    font-size: 14px;
  }

  .friend-profile-picture img
  {
    max-width: 60px;
    max-height: 60px;
  }
}