.card {
    border-radius: 50px;
    padding: 150px;
    background-color: #f7f7f7;
    transition: transform 0.03s ease-in-out;
  }

.card:hover {
  transform: scale(1.01);
}

.card-title {
    font-size: 19px;
    margin-top: 10px;
}

.friends-text {
    color: green;
    font-size: 14px;
    color: #1a1a1a;
    margin: 0;
    font-weight: bold
  }

.friends-text-container {
  background-color: lightgreen;
  border: none;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.remove-friend-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 6px 10px; 
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.remove-friend-btn:hover {
  background-color: #c82333;
}