.logout-container {
  background-color: var(--user-container);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 40vh;
}

.logout-content {
  text-align: center;
  padding: 30px;
  border-radius: 8px;
  background-color: var(--user-container);
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
}

.logout-content h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--text-color);
}

.logout-content p {
  font-size: 18px;
  color: var(--text-color);
  line-height: 1.6;
}
