.my-container {
  margin-top: -50px;
}

.card {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.card-title {
  font-size: 25px;
  font-weight: bold;
}

.card-text {
  font-size: 17px;
}