label[for="id_profile_name"] {
  display: none;
}

.form-title {
  padding: 10px 0;
  text-align: center;
  margin-bottom: 15px;
  font-size: 24px;
}

.profile-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--game-container-border);
  border-radius: 5px;
  background-color: var(--user-container);
}

.profile-container form {
  text-align: center;
}

.change-btn {
  font-size: 13px;
  padding: 5px 10px;
}
