.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-group select {
  width: 100%;
  height: 41px;
  display: block;
  color: #495057;
  font-size: 15px;
  background: #fff;
  border: 1px solid #d5dee6;
  padding: 6px 35px 6px 10px;
  border-radius: 21px;
}
.form-group select:focus {
  color: #495057;
  background-color: #fff;
  border-color: #a5c9ff;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, .25);
}

.form-group textarea {
  resize: vertical;
  min-height: 100px;
}

.reset-btn {
  background-color: #DC143C!important;
}

.reset-btn:hover {
    background-color: #8B0000!important;
}

.form-buttons {
  display: flex;
  justify-content: flex-start;
}
