.send-message-form {
  max-width: 400px;
  margin: 5px auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  border-radius: 15px;
  box-shadow: 5px 5px 15px #d9d9d9, -5px -5px 15px #ffffff;
}

.submit-button {
  background-color: #009900;
  color: #fff;
  padding: 9px 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  display: block;
  margin: 0 auto;
}

.submit-button:hover {
  background-color: #008000;
}

label {
  font-weight: bold;
}

.profile-link {
  text-decoration: none;
  color: #1598f4;
}

.profile-link:hover {
  text-decoration: none;
  color: #fff;
}
