.message-container
{
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

h2
{
  color: #007bff;
  margin-bottom: 10px;
  font-size: 20px;
}

p
{
  margin-bottom: 20px;
}

.btn-primary
{
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

.btn-primary:hover
{
  background-color: #0056b3;
  color: #fff;
}
