.message-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--game-container-border);
  border-radius: 5px;
  background-color: var(--user-container);
  text-align: center;
}

h2 {
  color: var(--text-color);
  margin-bottom: 10px;
  font-size: 20px;
}

p {
  margin-bottom: 20px;
}

.btn-primary {
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

.btn-primary:hover {
  background-color: #0056b3;
  color: #fff;
}
