.user-profile-card {
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.user-profile-picture {
  padding-top: 10px;
  padding-bottom: 7px;
  border-bottom: 0.1px solid #333;
}

.user-actions {
  padding-top: 15px;
}

.profile-image {
  max-width: 230px;
  max-height: 230px;
  border-radius: 50px;
  border: 3px solid #333;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  margin-top: 5px;
  overflow: hidden;
}