.user-profile-card {
  background-color: #f7f7f7;
  max-width: 400px;
  margin: -15px auto;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 100px;
}

.user-profile-picture {
  padding-top: 2px;
  padding-bottom: 7px;
  border-bottom: 0.1px solid #333;
}

.user-actions {
  padding-top: 10px;
}

.profile-image {
  max-width: 230px;
  max-height: 230px;
  border-radius: 50px;
  border: 3px solid #333;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.user-name {
  font-size: 24px;
  font-weight: bold;
  color: #1a1a1a;
}

.user-name a {
  color: #333;
  text-decoration: none;
}

.user-name a:hover {
  color: #555 !important;
}


.friends-text-container {
  border: none;
  border-radius: 50%;
  padding: 5px;
  padding-top: 2px;
  display: inline-block;
}

.friend-status {
  color: #1a1a1a;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
}

.friends-text-container.friend {
  background-color: lightgreen;
}

.friends-text-container.not-friend {
  background-color: silver;
}

.friend-request,
.remove-friend {
  margin-left: 10px;
}

.friend-request-button,
.remove-friend-button {
  padding: 6px 10px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 11px;
}

.friend-request-button {
  background-color: green;
  color: #ffffff;
}

.remove-friend-button {
  background-color: red;
  color: #ffffff;
}

.friend-request-button:hover {
  background-color: darkgreen;
}

.remove-friend-button:hover {
  background-color: darkred;
}


.friend-request-message {
  padding-top: 2px;
  font-size: 15px;
}

.user-stats {
  margin-top: 20px;
}

.stat-item {
  text-align: center;
  margin: 0 10px;
}

.stat-label {
  font-size: 14px;
  color: #0e76c3;
  white-space: nowrap;
}

.stat-label a:link,
.stat-label a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #1598f4;
}

.stat-label a:hover {
  color: #1ca7ff !important;
  text-decoration: none;
}

.stat-value {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.send-message a {
  text-decoration: none;
  color: #3498db;
  padding: 7px;
  font-weight: bold;
}

.send-message a:hover {
  text-decoration: none;
  color: #1f78bb;
}