html {
  height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-control,
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  height: 41px;
  display: block;
  color: #495057;
  font-size: 15px;
  background: #fff;
  border: 1px solid #d5dee6;
  padding: 6px 35px 6px 10px;
  border-radius: 21px;
}

.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
#id_message:focus {
  color: #495057;
  background-color: #fff;
  border-color: #a5c9ff;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
}

#id_message {
  width: 100%;
  display: block;
  color: #495057;
  font-size: 15px;
  background: #fff;
  border: 1px solid #d5dee6;
  padding: 6px 35px 6px 10px;
  border-radius: 21px;
}

.form-control.is-valid, .form-control.is-invalid, .was-validated .form-control:valid {
    background-image: none;
}

.was-validated .form-control:valid {
    background-image: none;
}

.navbar {
  background-color: #3498db;
  border: none;
  border-radius: 0;
  padding: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 85px;
}

.navbar-text {
  font-size: 15px;
}

.nav-link {
  font-size: 15px;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-item .contact-us {
  margin-left: auto;
}

.container {
  flex: 1;
  padding: 0px 0;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-item img {
  max-width: 110px;
  max-height: 110px;
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  margin-top: 5px;
}

.page-header {
  color: #2c3e50;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.message {
  padding-top: 10px;
}


.border-bottom {
  border-bottom: 1px solid #bdc3c7;
}

.content {
  margin-bottom: 20px;
}

.ml-auto-custom {
  margin-left: auto !important;
}

.footer {
  background-color: #2c3e50;
  color: #ffffff;
  width: 100%;
}

.my-footer {
  text-align: center;
  padding: 25px;
}

.dropdown-menu {
  background-color: #fff;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  margin-top: -15px;
}

.dropdown-item {
  color: #333;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #007bff;
  color: #fff;
}

.dropdown-toggle {
  color: #333;
  border: none;
}

.dropdown-toggle:focus {
  outline: none !important;
  box-shadow: none !important;
}

.dropdown.show .dropdown-menu {
  transform: translateY(0);
  opacity: 1;
}

.dropdown-divider {
  margin: 5px 0;
  border-color: rgba(0, 0, 0, 0.1);
}

.profile-picture-label {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.profile-picture-label:hover::before {
  content: "Upload";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -45%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px;
  border-radius: 50px;
  font-size: 10px;
  opacity: 0;
  transition: opacity 0.2s;
}

.profile-picture-label:hover::before,
.profile-picture-label:hover img {
  opacity: 1;
}
