body, h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
}

/* Add a subtle background color */
body {
  background-color: #f7f7f7;
}

.navbar {
  background-color: #3498db;
  border: none;
  border-radius: 0;
  padding: 0;
}

.nav-link {
  font-size: 18px;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #ecf0f1;
}

.navbar-text {
  font-size: 18px;
  color: #ffffff;
}

.container {
  padding: 30px 0;
}

.page-header {
  font-size: 32px;
  color: #2c3e50;
  margin-bottom: 20px;
}

.border-bottom {
  border-bottom: 1px solid #bdc3c7;
}

.content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.ml-auto-custom {
  margin-left: auto !important;
}

.footer {
  background-color: #2c3e50;
  color: #ffffff;
  padding: 20px 0;
  margin-top: 20px;
}

.footer p {
  margin: 0;
}

.footer .container {
  text-align: center;
}

.footer a {
  color: #ecf0f1;
  transition: color 0.3s ease-in-out;
}

.footer a:hover {
  color: #ffffff;
}

.dropdown-menu {
  background-color: #fff;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.dropdown-item {
  color: #333; /* Text color */
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #007bff;
  color: #fff;
}

/* Style the dropdown toggle */
.dropdown-toggle {
  color: #333;
  border: none;
}

.dropdown-toggle:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Smoothly animate dropdowns */
.dropdown.show .dropdown-menu {
  transform: translateY(0);
  opacity: 1;
}

.dropdown-divider {
  margin: 5px 0;
  border-color: rgba(0, 0, 0, 0.1);
}
