/* game_recommendations.css */
.recommendations {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.recommendation-section {
  margin-bottom: 30px;
}

h4 {
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 5px;
}

p {
  margin: 5px 0;
}

strong {
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
