.card {
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card-header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-header h2 {
  font-weight: bold;
  margin: 0;
}

.card-body {
  padding: 20px;
}

/* Label styling */
label {
  font-weight: bold;
  margin-bottom: 5px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
}

input[type="file"] {
  display: none;
}
input[type="checkbox"] {
  display: none;
}

label[for="profile_picture-clear_id"] + br + text {
  display: none;
}

label[for="id_profile_picture"] {
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  display: inline-block;
}

label[for="id_profile_picture"]::before {
  content: "Choose File";
  background-color: #007bff;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  line-height: normal;
  visibility: visible;
}

label[for="profile_picture-clear_id"] {
  display: none;
}


