<script type="text/javascript">
	
	function acceptFriendRequest(friend_request_id, uiUpdateFunction){
		var url = "{% url 'users:friend_request_accept' friend_request_id=3582435 %}".replace("3582435", friend_request_id);
		$.ajax({
			type: 'GET',
			dataType: "json",
			url: url,
			timeout: 5000,
			success: function(data) {
				console.log("SUCCESS", data)
				if(data['message'] == "Friend request accepted."){
				}
				else if(data['message'] != null){
					alert(data['message'])
				}
			},
			error: function(data) {
				console.error("ERROR...", data)
				alert("Something went wrong.")
			},
			complete: function(data){
				uiUpdateFunction()
			}
		});
	}

</script>