<script type="text/javascript">
	
	function showMessage(message) {
		var messageContainer = $('<div>').html(message).addClass('friend-request-message');
		$('.profile-stats').append(messageContainer);

		setTimeout(function() {
			messageContainer.remove();
		}, 2000);
	}

	function sendFriendRequest(id) {
		result = {
			"csrfmiddlewaretoken": "{{ csrf_token }}",
			"user_id": id,
		}

		$.ajax({
			type: 'POST',
			dataType: "json",
			url: "{% url 'users:friend_request' 0 %}",
			timeout: 5000,
			data: result,
			success: function(data) {
				console.log("SUCCESS", data)
				showMessage(data['message']);
			},
			error: function(data) {
				console.error("ERROR...", data)
				alert("Something went wrong.")
			},
		});
	}
</script>
