{% extends "base.html" %}
{% load static %}
{% block title %}Log Out :: PlayStyle Compass{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/logout.css' %}">
<div class="logout-container">
  <div class="logout-content">
    <h2>You have been logged out</h2>
    <p>Thank you for using PlayStyle Compass.</p>
    <p id="redirect-message">You will be redirected to the home page in:</p>
    <p id="countdown">5 seconds</p>
  </div>
</div>

<script src="{% static 'js/logout.js' %}"></script>

{% endblock content %}
