{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Log In :: PlayStyle Compass{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/users/common.css' %}">

<div class="my-container">
    <h2>Log in to your account</h2>
    <form method="post" action="{% url 'users:login' %}" class="form">
        {% csrf_token %}
        <div class="form-group">
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                <ul class="custom-error-list">
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <label for="{{ form.username.id_for_label }}"><i class="fas fa-user"></i> Username</label>
            {{ form.username }}
        </div>

        <div class="form-group">
            <label for="{{ form.password.id_for_label }}"><i class="fas fa-lock"></i> Password</label>
            <div class="input-group">
                {{ form.password }}
                <div class="input-group-append">
                    <button type="button" id="togglePassword" class="show-hide-button">
                        <i class="fas fa-eye" id="eye-icon"></i> <span id="toggleText">Show</span>
                    </button>
                </div>
            </div>
        </div>

        {% buttons %}
        <button name="submit" class="btn btn-primary">Log in</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'playstyle_compass:index' %}" />
    </form>


    <p><a href="{% url 'users:password_reset' %}">Forgot password?</a></p>
    <p>Don't have an account? <a href="{% url 'users:register' %}">Sign up now!</a></p>
</div>

{% endblock content %}