{% extends "playstyle_compass/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Reset Confirmation :: PlayStyle Compass{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/confirm_pw_reset.css' %}">

<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Confirm Password Reset</h2>
      <p class="card-text">Enter your new password below:</p>
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout="vertical" %}
        <button type="submit" class="btn btn-primary">Reset Password</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}