{% extends 'playstyle_compass/base.html' %}
{% load static %}

{% block title %}Password Change Done :: PlayStyle Compass{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/password_change_done.css' %}">
<div class="password-done-container">
  <h2>Password Changed Successfully</h2>
  <p>Your password has been changed successfully.</p>
  <p><a href="{% url 'playstyle_compass:index' %}" class="btn btn-primary">Return to Home</a></p>
</div>
{% endblock %}