{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/users/change_email.css' %}">
<div class="change-email-container">
  <h2>Change Email Address</h2>
  <form method="post">
    {% csrf_token %}

    <div class="form-group">
      {{ form.current_password.label_tag }}
      {{ form.current_password }}
      {% if form.current_password.errors %}
      <small class="text-danger">{{ form.current_password.errors.0 }}</small>
      {% endif %}
    </div>

    <div class="form-group">
      {{ form.current_email.label_tag }}
      {{ form.current_email }}
      {% if form.current_email.errors %}
      <small class="text-danger">{{ form.current_email.errors.0 }}</small>
      {% endif %}
    </div>

    <div class="form-group">
      {{ form.new_email.label_tag }}
      {{ form.new_email }}
      {% if form.new_email.errors %}
      <small class="text-danger">{{ form.new_email.errors.0 }}</small>
      {% endif %}
    </div>

    <div class="form-group">
      {{ form.confirm_email.label_tag }}
      {{ form.confirm_email }}
      {% if form.confirm_email.errors %}
      <small class="text-danger">{{ form.confirm_email.errors.0 }}</small>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Change Email</button>
  </form>
</div>
{% endblock %}