{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/users/success_message.css' %}">
<div class="message-container">
  <h2>{{ response|safe }}</h2>
  {% if additional_message %}
  <h2>{% trans "Your new email is:" %} <strong>{{ additional_message }}</strong></h2>
  {% endif %}
  <p><a href="{% url 'playstyle_compass:index' %}" class="btn btn-primary">{% trans "Home" %}</a></p>
</div>
{% endblock %}