{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/users/common.css' %}">

<div class=my-container>
<h2>Contact Us</h2>
<form method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="{{ form.name.id_for_label }}"><i class="fa-regular fa-user"></i> Name</label>
      {{ form.name }}
    </div>

    <div class="form-group">
      <label for="{{ form.email.id_for_label }}"><i class="fas fa-envelope"></i> Email</label>
      {{ form.email }}
    </div>

    <div class="form-group">
      <label for="{{ form.subject.id_for_label }}"><i class="fas fa-pencil-alt"></i> Subject</label>
      {{ form.subject }}
    </div>

    <div class="form-group">
      <label for="{{ form.message.id_for_label }}"><i class="fas fa-comment-dots"></i> Message</label>
      {{ form.message }}
    </div>

    <button type="submit">Submit</button>
</form>
</div>
{% endblock %}