{% extends "base.html" %}
{% load static %}
{% block title %}Delete Account :: PlayStyle Compass{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/delete_account.css' %}">

<div class="delete-container">
    <div class="delete-account">
        <h2>Delete Account</h2>
        <div class="warning-message">
            <p>Are you sure you want to delete your account? This action cannot be undone!!!</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password">
                {% if form.errors.password %}
                    <div class="error-message">{{ form.errors.password }}</div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-danger">Delete Account</button>
        </form>
    </div>
</div>
{% endblock content %}
