{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block page_header %}
<div class="header">
  <h3>{% trans "MY FRIENDS" %}</h3>
</div>
{% endblock page_header %}

{% block description %}{% blocktrans %}Explore and manage your connections. See who's on your friends list, and stay connected with your social circle.{% endblocktrans %}
{% endblock description %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/users/friends_list.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/playstyle_compass/common_styles.css' %}">

<div class="container">
  <div class="card p-2">
    {% if friends %}
    <div class="d-flex flex-row flex-wrap">
      {% for friend in friends %}
      <div class="card flex-row flex-grow-1 p-2 mx-2 my-2 align-items-center">
        <div class="friend-profile-picture">
          {% if friend.0.userprofile.profile_picture %}
          <label>
            <img src="{{ friend.0.userprofile.profile_picture.url }}"
              alt="{{ friend.0.userprofile.profile_name }}'s Profile Picture" class="profile-picture mr-2"
              id="profile-picture">
          </label>
          {% endif %}
        </div>
        <div class="card-center px-2">
          <a href="{% url 'users:view_profile' profile_name=friend.0.userprofile.profile_name %}"
            class="card-title">{{friend.0.userprofile.profile_name }}</a>
        </div>

        <div class="d-flex flex-column friends-text-container p-2">
          {% if this_user == friend.0 %}
          <p class="friends-text mb-0">{% trans "You" %}</p>
          {% else %}
          <p class="friends-text mb-0">{% trans "Friend" %}</p>
          {% endif %}
        </div>
        <div class="send-message">
        <a href="{% url 'users:send_message' user_id=friend.0.id %}">{% trans "Send message" %}</a>
    </div>

        <div class="d-flex flex-row card-right flex-grow-1 justify-content-end mx-2">
          <button class="remove-friend-btn" onclick='triggerRemoveFriend("{{ friend.0.id }}")'>{% trans "Unfriend" %}</button>
        </div>
      </div>

      {% if forloop.counter|divisibleby:2 %}
    </div>
    <div class="d-flex flex-row flex-wrap">
      {% endif %}
      {% endfor %}
    </div>
    {% else %}
    <div class="d-flex flex-row flex-grow-1 justify-content-center align-items-center p-4">
      <p>{% trans "Your friends list is currently empty. Connect with others by sending friend requests!" %}</p>
    </div>
    {% endif %}
  </div>
</div>

<script src="{% static 'js/users/remove_friend.js' %}"></script>

{% include 'snippets/remove_friend.html' %}

{% endblock content %}