{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="header">
<h3>MY FRIENDS</h3>
</div>
<p class="header-desc">Explore and manage your connections. See who's on your friends list, and stay connected with your social circle.</p>
{% endblock page_header %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/users/friends_list.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/playstyle_compass/common_styles.css' %}">

<div class="container">
  <div class="card p-2">

    {% if friends %}
    <div class="d-flex flex-row flex-wrap">
      {% for friend in friends %}
      <div class="card flex-row flex-grow-1 p-2 mx-2 my-2 align-items-center">
        <div class="card-center px-2">
          <h5 class="card-title">{{friend.0.userprofile.profile_name}}</h5>
        </div>

        <div class="d-flex flex-row card-right flex-grow-1 justify-content-end mx-2">
          <button id="id_cancel_{{request.sender.id}}" class="remove-friend-btn" onclick='triggerRemoveFriend("{{friend.0.id}}")'>Unfriend</button>
        </div>

        <div class="d-flex flex-row friends-text-container p-2">
          <p class="friends-text m-auto">
            Friend
          </p>
        </div>
      </div>
      {% if forloop.counter|divisibleby:2 %}
    </div>
    <div class="d-flex flex-row flex-wrap">
      {% endif %}
      {% endfor %}
      
      {% else %}
      <div class="d-flex flex-row flex-grow-1 justify-content-center align-items-center p-4">
      <p>Your friends list is currently empty. Connect with others by sending friend requests!</p>
    </div>
      {% endif %}
    </div>
  </div>

</div>

<script type="text/javascript">
  function onRemoveFriend() {
    location.reload();
  }

  function triggerRemoveFriend(friend_id) {
    removeFriend(friend_id, onRemoveFriend)
  }

  function onCancelFriendRequest() {
    location.reload();
  }

  function triggerCancelFriendRequest(request_id) {
    cancelFriendRequest(request_id, onCancelFriendRequest)
  }

</script>

{% include 'snippets/remove_friend.html' %}
{% include 'snippets/cancel_friend_request.html' %}

{% endblock content %}
