{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="header">
  <h3>FRIEND REQUESTS</h3>
</div>
{% endblock page_header %}

{% block description %}Review and manage incoming and sent friend requests. Stay connected with new friends!{% endblock description %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/users/friend_requests.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/playstyle_compass/common_styles.css' %}">

<div class="container">
  <div class="card p-2">
    <p class="incoming-requests">Requests received</p>
    {% if friend_requests %}
    <div class="d-flex flex-row flex-wrap">
      {% for request in friend_requests %}
      {% include 'snippets/friend_request_card.html' with profile_picture=request.sender.userprofile.profile_picture.url profile_name=request.sender.userprofile.profile_name action='received' %}
      {% if forloop.counter|divisibleby:2 %}
    </div>
    <div class="d-flex flex-row flex-wrap">
      {% endif %}
      {% endfor %}
    </div>
    {% else %}
    <div class="d-flex flex-row flex-grow-1 justify-content-center align-items-center p-4">
      <p>No friend requests received.</p>
    </div>
    {% endif %}
  </div>

  <div class="sent-friend-requests">
    <div class="card p-2">
      <p class="sent-requests">Sent by you</p>
      {% if user_sent_friend_requests %}
      <div class="d-flex flex-row flex-wrap">
        {% for request in user_sent_friend_requests %}
        {% include 'snippets/friend_request_card.html' with profile_picture=request.receiver.userprofile.profile_picture.url profile_name=request.receiver.userprofile.profile_name action='sent' %}
        {% if forloop.counter|divisibleby:2 %}
      </div>
      <div class="d-flex flex-row flex-wrap">
        {% endif %}
        {% endfor %}
      </div>
      {% else %}
      <div class="d-flex flex-row flex-grow-1 justify-content-center align-items-center p-4">
        <p>No friend requests sent.</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<script src="{% static 'js/users/friend_requests.js' %}"></script>

{% include 'snippets/accept_friend_request.html' %}
{% include 'snippets/decline_friend_request.html' %}
{% include 'snippets/cancel_friend_request.html' %}

{% endblock content %}