{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block page_header %}
<div class="header">
  <h3>INBOX</h3>
</div>
{% endblock page_header %}

{% block description %}
See messages you sent and received from users.
{% endblock description %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/playstyle_compass/messages_common.css' %}">

<div class="messages-container">
    <div class="category-buttons">
      <button id="messages-received-btn" class="category-button active">Messages received</button>
      <button id="messages-sent-btn" class="category-button">Messages sent</button>
    </div>

    <div class="sort-container">
      <label for="sort-order">Sort by:</label>
      <select id="sort-order">
        <option value="asc">Date (Asc)</option>
        <option value="desc">Date (Desc)</option>
      </select>
    </div>

    <form method="post" action="{% url 'users:delete_messages' %}" id="delete-messages-form">
    {% csrf_token %}
    <div id="received-messages" class="messages-grid-inbox received-messages" data-empty-message="You have not received any messages.">
      {% if messages_received %}
        {% for received_message in messages_received %}
          <div class="message-card" data-timestamp="{{ received_message.timestamp|format_timestamp }}">
            <div class="message-header">
              <input type="checkbox" name="received_messages[]" value="{{ received_message.id }}" class="message-checkbox">
              <span class="user-info"><strong>From: </strong><a href="{% url 'users:view_profile' profile_name=received_message.sender.userprofile.profile_name %}" class="user-name">{{ received_message.sender.userprofile.profile_name }}</a></span>
              <p class="subject"><strong>Subject:</strong> {{received_message.title}}</p>
              <p class="timestamp"><strong>Date:</strong> {{ received_message.timestamp }}</p>
            </div>
            <div class="message-content">
              <p>{{ received_message.message }}</p>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p class="empty-category">You have not received any messages.</p>
      {% endif %}
    </div>

    <div id="sent-messages" class="messages-grid-inbox sent-messages" data-empty-message="You have not sent any messages." style="display:none">
      {% if messages_sent %}
        {% for sent_message in messages_sent %}
          <div class="message-card" data-timestamp="{{ sent_message.timestamp|format_timestamp }}">
            <div class="message-header">
              <input type="checkbox" name="sent_messages[]" value="{{ sent_message.id }}" class="message-checkbox">
              <span class="user-info"><strong>To: </strong><a href="{% url 'users:view_profile' profile_name=sent_message.sender.userprofile.profile_name %}" class="user-name">{{ sent_message.receiver.userprofile.profile_name }}</a></span>
              <p class="subject"><strong>Subject:</strong> {{sent_message.title}}</p>
              <p class="timestamp"><strong>Date:</strong> {{ sent_message.timestamp }}</p>
            </div>
            <div class="message-content">
              <p>{{ sent_message.message }}</p>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p class="empty-category">You have not sent any messages.</p>
      {% endif %}
    </div>

    <button type="button" class="select-all-button">Select All</button>
    <button type="submit" class="delete-button">Delete Selected</button>
  </form>
</div>

<script>
  $("#received-messages").hide();
  $("#sent-messages").hide();
</script>

<script src="{% static 'js/playstyle_compass/messages_common.js' %}" defer></script>

{% endblock %}