{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block page_header %}
<div class="header">
  <h3>{% trans "API KEY MANAGEMENT" %}</h3>
</div>
{% endblock page_header %}

{% block description %}
{% blocktrans %}Manage and generate your API key to securely access the PlayStyle Compass services. Keep your API key safe and use it for authentication when interacting with the platform.{% endblocktrans %}
{% endblock description %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/users/manage_api_key.css' %}">

<div class="api-key-management" id="api-management" data-generate-key="{% url 'users:generate_api_key' %}" 
  data-revoke-key="{% url 'users:revoke_api_key' %}">
  <div class="key-section">
    <p class="key-title">{% trans "Your API Key is..." %}</p>
    
    {% if api_key %}
      <textarea id="api-key" readonly rows="2" cols="60">{{ api_key }}</textarea>
      <button id="copy-key-button">{% trans "Copy" %}</button>
      <button id="revoke-key-button">{% trans "Revoke API Key" %}</button>
    {% else %}
      <p>{% trans "You do not have an API key yet." %}</p>
      <button id="generate-key-button">{% trans "Generate API Key" %}</button>
    {% endif %}

    <p id="key-status"></p>
  </div>
</div>

<script src="{% static 'js/users/manage_api_key.js' %}" defer></script>
{% endblock %}
