{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Password Reset Complete :: PlayStyle Compass{% endblock title %}

{% block content %}
<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Password Reset Complete</h2>
      <p class="card-text">
        You have successfully changed your password.
        You can now <a href="{% url 'users:login' %}">Log In</a> with your new password.
      </p>
    </div>
  </div>
</div>
{% endblock content %}