{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "Password Reset Complete :: PlayStyle Compass" %}{% endblock title %}

{% block content %}
<style>
  .card {
    background: var(--user-container);
    border: 1px solid var(--game-container-border);
    border-radius: 5px;
  }
  .card-title, .card-text {
    text-align: center;
    color: var(--text-color);
  }

</style>
<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">{% trans "Password Reset Complete" %}</h2>
      <p class="card-text">
        {% trans "You have successfully changed your password." %}
        {% trans "You can now" %} <a href="{% url 'users:login' %}">{% trans "Log In" %}</a> {% trans "with your new password." %}
      </p>
    </div>
  </div>
</div>
{% endblock content %}