{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/users/common.css' %}">

<div class="my-container">
  <h2>Change Password</h2>
  
  <form method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="{{ form.old_password.id_for_label }}"><i class="fas fa-lock"></i> Current Password</label>
      {{ form.old_password }}
      {% if form.old_password.errors %}
      <ul class="custom-error-list">{{ form.old_password.errors }}</ul>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="{{ form.new_password1.id_for_label }}"><i class="fas fa-lock"></i> New Password</label>
      {{ form.new_password1 }}
      {% if form.new_password1.errors %}
      <ul class="custom-error-list">{{ form.new_password1.errors }}</ul>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="{{ form.new_password2.id_for_label }}"><i class="fas fa-lock"></i> Confirm New Password</label>
      {{ form.new_password2 }}
      {% if form.new_password2.errors %}
      <ul class="custom-error-list">{{ form.new_password2.errors }}</ul>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
</div>
{% endblock %}
