{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}

{% block title %}{% trans "Password Reset Request :: PlayStyle Compass" %}{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/users/password_reset.css' %}">

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card shadow mt-5">
        <div class="card-body">
          <h2 class="card-title mb-4 text-center">{% trans "Password Reset Request Submitted" %}</h2>
          <p class="card-text text-center">{% blocktrans %}If your email address is associated with an account, you will receive instructions on how to reset your password shortly.{% endblocktrans %}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}