{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block page_header %}
<div class="header">
  <h3>{% trans "CHANGE PASSWORD" %}</h3>
</div>
{% endblock page_header %}

{% block description %}
{% blocktrans %}Ensure the security of your PlayStyle Compass account by updating your password. Choose a strong and unique password to protect your gaming profile.{% endblocktrans %}
{% endblock description %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/users/common.css' %}">

<div class="my-container">
  <h2>{% trans "Change your password" %}</h2>

  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.old_password.id_for_label }}"><i class="fas fa-lock"></i>
        {% trans "Current Password" %}</label>
      {{ form.old_password }}
      {% if form.old_password.errors %}
      <ul class="custom-error-list">{{ form.old_password.errors }}</ul>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="{{ form.new_password1.id_for_label }}"><i class="fas fa-lock"></i>
        {% trans "New Password" %}</label>
      <div class="custom-input-group">
        {{ form.new_password1 }}
        <div class="input-group-append">
          <button type="button" id="toggleNewPassword1" class="show-hide-button">
            <i class="fas fa-eye" id="eye-icon-new1"></i> <span id="toggleTextNew1">{% trans "Show" %}</span>
          </button>
        </div>
      </div>
      {% if form.new_password1.errors %}
      <ul class="custom-error-list">
        {{ form.new_password1.errors }}
      </ul>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="{{ form.new_password2.id_for_label }}"><i class="fas fa-lock"></i>
        {% trans "Confirm New Password" %}</label>
      <div class="custom-input-group">
        {{ form.new_password2 }}
        <div class="input-group-append">
          <button type="button" id="toggleNewPassword2" class="show-hide-button">
            <i class="fas fa-eye" id="eye-icon-new2"></i> <span id="toggleTextNew2">{% trans "Show" %}</span>
          </button>
        </div>
      </div>
      {% if form.new_password2.errors %}
      <ul class="custom-error-list">
        {{ form.new_password2.errors }}
      </ul>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">{% trans "Change Password" %}</button>
  </form>
</div>
{% endblock %}