{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "Password Reset Complete :: PlayStyle Compass" %}{% endblock title %}

{% block content %}
<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">{% trans "Password Reset Complete" %}</h2>
      <p class="card-text">
        {% trans "You have successfully changed your password." %}
        {% trans "You can now" %} <a href="{% url 'users:login' %}">{% trans "Log In" %}</a> {% trans "with your new password." %}
      </p>
    </div>
  </div>
</div>
{% endblock content %}