{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Reset Confirmation :: PlayStyle Compass{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/users/common.css' %}">

<div class="my-container">
  {% if validlink %}
  <h2 class="card-title">Set up a new password</h2>
  <form method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="{{ form.new_password1.id_for_label }}"><i class="fas fa-lock"></i> New Password</label>
      {{ form.new_password1 }}
      {% if form.new_password1.errors %}
      <ul class="custom-error-list">{{ form.new_password1.errors }}</ul>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="{{ form.new_password2.id_for_label }}"><i class="fas fa-lock"></i> Confirm New Password</label>
      {{ form.new_password2 }}
      {% if form.new_password2.errors %}
      <ul class="custom-error-list">{{ form.new_password2.errors }}</ul>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>
  {% else %}
  <p><strong>The password reset link has expired. Please request a new one.</strong></p>
  {% endif %}
</div>
{% endblock content %}