{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/users/user_profile.css' %}">

<div class="user-profile-card">
    <div class="user-profile-picture">
      {% if user_profile.profile_picture %}
        <label>
          <img src="{{ user_profile.profile_picture.url }}" alt="{{ user_profile.profile_name }}'s Profile Picture" class="profile-image"> 
        </label>
      {% else %}
        <img src="{{ default_profile_picture }}" alt="{{ friend.0.userprofile.profile_name }}'s Default Profile Picture">
      {% endif %}
    </div>
    <div class="user-actions">
      <p class="user-name">{{ user_profile.profile_name }}<p>
      <div class="friends-text-container {% if is_friend == 'Friend' or is_friend == 'You' %}friend{% else %}not-friend{% endif %}">
          <span class="friend-status">{{ is_friend }}</span>
      </div>
    </div>
</div>

{% endblock content %}
