{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block page_header %}
<meta id="recipient-id" content="{{ recipient.id }}">
<div class="header">
<h3>{% trans "CHATTING WITH" %} {{ recipient.userprofile.profile_name|upper }}</a></h3>
</div>
{% endblock page_header %}

{% block description %}
{% blocktrans %}Engage in meaningful conversations, share thoughts, and enjoy the interaction.{% endblocktrans %}
{% endblock description %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/users/chat.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/emoji-mart/css/emoji-mart.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css"/>

<div class="chat-container" id="chat-container" data-user-id="{{ request.user.id }}" data-recipient-id="{{ recipient.id }}">
    <div class="chat-header">
        <a class="profile-link" title="{% trans 'View Profile' %}" href="{% url 'users:view_profile' recipient.userprofile.profile_name %}"><img src="{{ recipient.userprofile.profile_picture.url}} " alt="Profile Picture" class="header-profile-picture"> {{ recipient.userprofile.profile_name }}</a>
        <div id="status"></div>
        <span class="last-seen"></span>
        <div class="search-container" id="search-container">
            <input type="text" id="search-input" placeholder="{% trans 'Search messages...' %}">
        </div>
        <div class="chat-options">
            <i class="fa-solid fa-ellipsis-vertical options-button" onclick="toggleOptionsMenu()"></i>
            <div class="options-menu" id="options-menu">
                <button id="search-messages-button">{% trans 'Search Messages' %}</button>
                <button id="change-bg-color-button">{% trans 'Change Background' %}</button>
                <button id="clear-chat-button" data-url="{% url 'users:delete_chat_messages' recipient_id=recipient.id %}">
                {% trans "Delete Messages" %}</button>
            </div>
        </div>
    </div>
    <div id="color-picker-container">
        <div id="color-picker"></div>
        <button id="default-color-button">Default</button>
    </div>
    <div id="chat-messages" class="chat-messages" data-edit-message-url="{% url 'users:edit_message' 0 %}">
        <div id="date-header" class="date-header" style="display:none"></div>
        <div id="sse-data" data-stream-url="{% url 'users:stream_chat_messages' recipient_id=recipient.id %}"></div>
        <div id="typing-indicator">{{ recipient.userprofile.profile_name }} {% trans "is typing..." %}</div>
    </div>

    <form id="myForm" x-cloak @submit.prevent="submit" x-data="{ state: 'composing', errors: {}, content: '' }"
        data-url="{% url 'users:create_message' %}">
        <div class="input-container">
            <i id="file-button" class="fa-solid fa-paperclip file-button" title="Attach File"></i>
            <input type="file" id="file-input" name="file" style="display: none;">
            <button type="button" id="emoji-button" class="emoji-button" title="Emoji">😊</button>
            <textarea class="message-textarea" id="chat-message-input" name="content" @input="state = 'composing'; content = $event.target.value" autofocus placeholder="{% trans 'Message...' %}" x-model="content"></textarea>
            <span id="file-indicator" class="file-indicator"></span>
            <button type="submit" class="send-button" :disabled="!content.trim()">
                ➤
            </button>
        </div>
        <div id="emoji-picker" class="emoji-picker"></div>
        <div x-show="state === 'error'" class="error-message">
            <p x-text="errors.message"></p>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js"></script>
<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js" defer></script>
<script src="{% static 'js/users/chat_indicators.js' %}" defer></script>
<script src="{% static 'js/users/chat.js' %}" defer></script>
<script src="{% static 'js/users/chat_features.js' %}" defer></script>

{% endblock content %}