{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block page_header %}
<div class="header">
<h3>{% trans "CHATTING WITH" %} {{ recipient.userprofile.profile_name|upper }}</a></h3>
</div>
{% endblock page_header %}

{% block description %}
{% blocktrans %}Engage in meaningful conversations, share thoughts, and enjoy the interaction.{% endblocktrans %}
{% endblock description %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/users/chat.css' %}">

<div class="chat-container" id="chat-container" data-user-id="{{ request.user.id }}" data-recipient-id="{{ recipient.id }}">
    <div class="chat-header">
        <a class="profile-link" href="{% url 'users:view_profile' recipient.userprofile.profile_name %}">{{ recipient.userprofile.profile_name }}</a>
        <div class="chat-options">
            <i class="fa-solid fa-ellipsis-vertical options-button" onclick="toggleOptionsMenu()"></i>
            <div class="options-menu" id="options-menu">
                <button id="clear-chat-button" data-url="{% url 'users:delete_chat_messages' recipient_id=recipient.id %}">{% trans "Delete Messages" %}</button>
            </div>
        </div>
    </div>
    <div id="chat-messages" class="chat-messages" data-edit-message-url="{% url 'users:edit_message' 0 %}">
        <div id="sse-data" data-stream-url="{% url 'users:stream_chat_messages' recipient_id=recipient.id %}"></div>
        <div id="typing-indicator">{{ recipient.userprofile.profile_name }} {% trans "is typing..." %}</div>
    </div>

    <form id="myForm" x-cloak @submit.prevent="submit" x-data="{ state: 'composing', errors: {}, content: '' }"
        data-url="{% url 'users:create_message' %}">
        <div class="input-container">
            <textarea id="chat-message-input" name="content" @input="state = 'composing'; content = $event.target.value"
                autofocus placeholder="{% trans 'Enter your message...' %}" x-model="content"></textarea>
            <button type="submit" class="send-button" :disabled="!content.trim()">
                ➤
            </button>
        </div>

        <div x-show="state === 'error'" class="error-message">
            <p x-text="errors.message"></p>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js" defer></script>
<script src="{% static 'js/users/typing_indicator.js' %}" defer></script>
<script src="{% static 'js/users/chat.js' %}" defer></script>

{% endblock content %}