{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load custom_filters %}

{% block page_header %}
<div class="header">
  <h3>INBOX</h3>
</div>
{% endblock page_header %}

{% block description %}
{% trans "See messages you sent and received from users." %}
{% endblock description %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/playstyle_compass/messages_common.css' %}">

<div class="messages-container">
  <div class="category-buttons">
    <a href="{% url 'users:inbox' %}?category=received&sort_order={{ selected_sort_order }}" class="category-button{% if category == 'received' %} active{% endif %}">{% trans "Messages Received" %}</a>
    <a href="{% url 'users:inbox' %}?category=sent&sort_order={{ selected_sort_order }}" class="category-button{% if category == 'sent' %} active{% endif %}">{% trans "Sent Messages" %}</a>
  </div>

  <div class="sort-container">
    <label for="sort-order">{% trans "Sort by:" %}</label>
    <input type="hidden" id="active-category" name="category" value="{{ category }}">
    <form method="get" action="{% url 'users:inbox' %}">
    <input type="hidden" name="category" value="{{ category }}">
    <select id="sort-order" name="sort_order">
      <option value="" {% if not selected_sort_order %}selected{% endif %}>{% trans "-- Select --" %}</option>
      <option value="asc" {% if selected_sort_order == "asc" %}selected{% endif %}>{% trans "Date (Asc)" %}</option>
      <option value="desc" {% if selected_sort_order == "desc" %}selected{% endif %}>{% trans "Date (Desc)" %}</option>
    </select>
    <button type="submit" class="apply-button">{% trans "Apply" %}</button>
</form>
  </div>

  <form method="post" 
  action="{% url 'users:delete_messages' %}?category={{ category }}&sort_order={{ selected_sort_order }}" id="delete-messages-form">
    {% csrf_token %}
    <div class="action-buttons">
      <button type="button" class="select-all-button">{% trans "Select All" %}</button>
      <button type="submit" class="delete-button">{% trans "Delete Selected" %}</button>
    </div>
    <div id="messages" class="messages-grid-inbox">
      {% if user_messages %}
      {% for message in user_messages %}
      <div class="message-card">
        <div class="message-header">
          <span class="user-info">
            <input type="checkbox" name="{% if category == 'received' %}received_messages[]{% else %}sent_messages[]{% endif %}" value="{{ message.id }}" class="message-checkbox">
            {% if category == 'received' %}
            <strong>{% trans "From:" %}</strong><a href="{% url 'users:view_profile' profile_name=message.sender.userprofile.profile_name %}"
              class="user-name">{{ message.sender.userprofile.profile_name }}</a>
              <div class="arrow"></div>
              <a href="{% url 'users:send_message' message.sender.userprofile.id %}" class="reply-button">{% trans "Reply" %}</a>
            {% elif category == 'sent' %}
            <strong>{% trans "Sent to:" %}</strong><a href="{% url 'users:view_profile' profile_name=message.receiver.userprofile.profile_name %}"
              class="user-name">{{ message.receiver.userprofile.profile_name }}</a>
            {% endif %}
          </span>
          <p class="subject"><strong>{% trans "Subject:" %}</strong> {{ message.title }}</p>
          <p class="timestamp"><strong>{% trans "Date:" %}</strong> {{ message.timestamp|convert_to_user_timezone:request.user.userprofile.timezone }}</p>
        </div>
        <div class="message-content">
          <p>{{ message.message }}</p>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p class="empty-category">{% trans "You have no messages in this category." %}</p>
      {% endif %}
    </div>
  </form>
</div>

<script src="{% static 'js/playstyle_compass/messages_common.js' %}" defer></script>

{% endblock %}

