.deal-image {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #428cac;
  padding: 10px;
  border-radius: 6px;
}

.deal-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 6px;
  transition: transform 0.3s ease;
}

.deal-item {
  width: 150px;
  background-color: transparent;
  padding: 0px;
  border-radius: 12px;
  text-align: center;
  margin: 5px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.deals {
  padding-bottom: 5px;
}

.deals h3 {
  padding-top: 25px;
  position: relative;
  width: 100%;
  overflow: hidden;
  clear: both;
  font-size: 18px;
  line-height: 1;
  margin: 0 0 12px;
  color: var(--listing-title);
}

.deals-description {
  color: var(--descriptions-color);
  font-size: 16px;
  padding-bottom: 15px;
}

.deal-image:hover img {
  transform: scale(1.03);
}

.deal-item:hover {
  transform: scale(1.03);
}

.deal-title {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  text-align: center;
  padding: 3px 0;
  font-size: 10px;
  word-wrap: break-word;
  white-space: normal;
}

.deal-item .deal-image:hover .deal-title {
  display: block;
}

.deal-info {
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.price-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.sale-price {
  font-size: 14px;
  font-weight: bold;
  color: #d9534f;
  margin: 2px 0;
}

.retail-price {
  font-size: 12px;
  color: #888;
  margin: 2px 6px;
}

.deal-store {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 4px;
  font-size: 11px;
  font-weight: 500;
  margin-top: 3px;
}

.store-icon {
  width: 16px;
  height: 16px;
  margin-right: 3px;
  margin-left: 3px;
  border-radius: 2px;
}

.image-wrapper {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.deal-link {
  text-decoration: none;
}
