.game-recommendations-container {
  display: none;
}

.game-recommendations-container li {
  display: flex;
  align-items: start;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}

.category-buttons {
  margin-bottom: 20px;
  text-align: start;
}

.category-button {
  font-size: 14px;
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
}

.category-button:hover {
    background-color: #2980b9;
}

h4 {
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 0;
  padding-bottom: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

label[for="sort-select"] {
  font-size: 15px;
  font-weight: bold;
  margin-right: 5px;
  margin-left: 5px;
  color: #333;
}

#sort-select {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  width: 170px;
  outline: none;
}

#sort-select option {
  font-size: 14px;
  background-color: #f9f9f9;
  color: #333;
}

#sort-select:hover, #sort-select:focus {
  border: 1px solid #007bff;
}