.game-recommendations-container {
  display: none;
}

.game-recommendations-container li {
  display: flex;
  align-items: start;
  border: 1px solid var(--game-container-border);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--game-container);
}

.category-buttons {
  margin-bottom: 10px;
  text-align: start;
}

.category-button {
  font-size: 14px;
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
}

.category-button:hover {
  background-color: #2980b9;
}

h4 {
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 0;
  padding-bottom: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

label[for="sort-select"] {
  font-size: 15px;
  color: var(--text-color);
}

#sort-select {
  padding: 5px;
  font-size: 14px;
  border: 1px solid var(--sorting-border);
  border-radius: 5px;
  background-color: var(--game-container);
  color: var(--text-color);
  width: 170px;
  outline: none;
}

#sort-select option {
  font-size: 14px;
  background-color: var(--dropdown-menu);
  color: var(--dropdown-item);
}

#sort-select:hover,
#sort-select:focus {
  border: 1px solid var(--sorting-border);
}

.sorting {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
}

@media screen and (max-width: 1000px) {
  .game-recommendations-container li {
    flex-direction: column;
    align-items: stretch;
  }
}
