.games-li,
.franchises-li {
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  position: relative;
  overflow: hidden;
}

.game-image {
  position: relative;
  overflow: hidden;
}

.game-image img {
  display: block;
  max-width: 100%;
  max-height: 200px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.franchise-image {
  position: relative;
  width: 100%;
  height: 95px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.franchise-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.game-image:hover img,
.franchise-image:hover img {
  transform: scale(1.05);
}

.games,
.franchises {
  padding-bottom: 5px;
}

.games h3,
.franchises h3 {
  padding-top: 25px;
  color: #2f6187;
  position: relative;
  width: 100%;
  overflow: hidden;
  clear: both;
  font-size: 18px;
  line-height: 1;
  margin: 0 0 12px;
  color: #3e6a91;
}

.games-description,
.franchises-description {
  color: #555;
  font-size: 16px;
  padding-bottom: 15px;
}

.game-title,
.franchise-title {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  text-align: center;
  padding: 5px 0;
  font-size: 12px;
  word-wrap: break-word;
  white-space: normal;
  padding-left: 5px;
  padding-right: 5px;
}

.games-li .game-image:hover .game-title {
  display: block;
}

.franchises-li .franchise-image:hover .franchise-title {
  display: block;
}
