.playstyle-title {
  font-size: 18px;
  margin-bottom: 5px;
  color: var(--text-color);
}

.playstyle-text {
  font-size: 15px;
  line-height: 1.6;
  color: var(--text-color);
}

.text-center {
  text-align: center;
}

a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #0069e0;
}

.btn-danger {
  font-size: 13px;
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-danger:hover {
  background-color: #c82333 !important;
}

.btn-danger:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container button {
  margin: 0 5px;
  margin-bottom: 20px;
}

.change-button,
.save-button,
.save-all-button {
  border: none;
  padding: 5px 10px;
  font-size: 10px;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  outline: none;
}

.change-button {
  background-color: #007bff;
  border-color: #007bff;
}

.save-button,
.save-all-button {
  background-color: #27ae60;
  border-color: #27ae60;
}

.change-button:hover {
  background-color: #0069e0;
  border-color: #0069e0;
}

.save-button:hover,
.save-all-button:hover {
  background-color: #1e8449;
  border-color: #1e8449;
}

.save-all-button {
  font-size: 13px;
  padding: 8px 16px;
}

.save-button:disabled,
.save-all-button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.form-label {
  font-size: 18px;
}

#saving-spinner {
  display: inline-block;
  margin-left: 5px;
}

.spinner-border {
  width: 1.5rem;
  height: 1.5rem;
  border-width: 0.2em;
}

.save-all-container {
  display: flex;
  align-items: baseline;
}
