.articles-source-text {
  color: #333;
  font-size: 10px;
  margin-top: -16px;
  font-style: italic;
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.article {
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
}

.article img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px 12px 0 0;
  transition: transform 0.3s ease;
}

.article-content {
  padding: 15px;
  background: #fff;
  text-align: left;
  border-radius: 0 0 12px 12px;
  transition: background 0.3s ease;
}

.article-title {
  font-size: 1.1em;
  margin: 0;
  color: #333;
  transition: color 0.3s ease;
}

.article-summary {
  font-size: 0.9em;
  margin: 10px 0 0;
  color: #666;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.3s ease, color 0.3s ease;
}

.article:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.article:hover img {
  transform: scale(1.05);
}

.article:hover .article-content {
  background: #f8f8f8;
}

.article:hover .article-title {
  color: #007bff;
}

.article:hover .article-summary {
  color: #333;
  max-height: 200px;
}

.filter-sort-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.filter-container,
.sorting {
  display: flex;
  align-items: center;
  gap: 8px;
}

label[for="sort_by"],
label[for="filter_by"] {
  font-size: 14px;
  color: #333;
}

select {
  padding: 5px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  width: 170px;
  outline: none;
}

select option {
  font-size: 13px;
  background-color: #f9f9f9;
  color: #333;
}

select:hover,
select:focus {
  border: 1px solid #333;
}

.filter-buttons {
  margin-bottom: 15px;
}

.apply-button,
.reset-button {
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 11px;
}

.apply-button {
  background-color: #007bff;
}

.reset-button {
  background-color: gray;
}

.reset-button:hover {
  background-color: #505050;
}
