.review {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.buttons-container {
    display: flex;
    align-items: center;
}

.buttons-container button,
.buttons-container a {
    margin-right: 10px;
}

.review-header {
  background-color: #f2f2f2;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.review-header p {
  margin: 5px 0;
}

.review-body {
  margin: 10px 0;
}

.review-description-container {
  max-width: 100%;
}

.review-description,
.review-description-full {
  margin: 10px 0;
  word-break: break-word;
}

.gold-star {
  color: gold;
}

.empty-star {
  color: lightgrey;
}

.show-hide-button,
.add-review-btn,
.delete-review-btn,
.edit-review-btn {
  background: none;
  border: none;
  color: #007BFF;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

.friend-request-text {
  display: inline-block;
  padding: 6px 12px;
  background-color: green;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 10px;
}

.friend-request-text:hover {
  background-color: darkgreen;
}

.author-link {
  font-weight: bold;
  text-decoration: none !important;
}

.author-name {
  font-weight: bolder;
  color: #333;
  cursor: pointer;

}

.author-name:hover {
  color: darkblue;
  text-decoration: none !important;
}

.thumbs-up,
.thumbs-down {
  cursor: pointer;
  transition: color 0.3s ease;
  padding-right: 5px;
}

.thumbs-up:hover {
  color: #007bff;
}

.thumbs-down:hover {
  color: #dc3545;
}

.thumbs-up:active,
.thumbs-down:active {
  transform: scale(1.2);
}

.like-dislike-divider {
  margin-right: 2px;
  color: #ccc;
}

.like-dislike {
  user-select: none;
}