.user-playstyles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 20px;
}

.user-playstyle {
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  background-color: #f7f7f7;
}

.user-playstyle:hover {
  transform: translateY(-5px);
}

.user-details {
  padding: 15px;
  text-align: center;
}

.user-details p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

.user-details strong {
  color: #333;
  font-weight: bold;
}

.no-results {
  color: #888;
  text-align: center;
  margin-top: 20px;
}

.user-profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 15px;
  border-bottom: 0.1px solid #333;
}

.profile-image {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 3px solid #333;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  object-fit: cover;
}

.user-name {
  font-size: 22px;
  font-weight: bold;
  color: #1a1a1a;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
}

.user-name a {
  color: #333;
  text-decoration: none;
}

.user-name a:hover {
  color: #555 !important;
}
