{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/users/quiz.css' %}">

<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div>
        <label class="question">{{ field.label }}</label>
        <div>
            {% for choice in field %}
            <label class="form-check-inline">
                {{ choice }}
            </label>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <button type="submit">Submit</button>
</form>

{% endblock content %}