{% extends "games/games_collection.html" %}
{% load i18n %}

{% block header_desc %}
{% trans "PREFERENCE QUIZ RECOMMENDATIONS" %}
{% endblock header_desc %}

{% block description %}{% blocktrans %}Explore personalized game recommendations tailored to your preferences from the quiz.{% endblocktrans %}
{% endblock description %}

{% block empty_message %}
    {% url 'users:gaming_quiz' as quiz_url %}
    {% trans "You haven't taken the Preference Quiz yet." %}
    {% trans "Click" %} <a href="{{ quiz_url }}">{% trans "here" %}</a> {% trans "to take it and get personalized game recommendations." %}
{% endblock empty_message %}