{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block page_header %}
<div class="header">
  <h3>{% trans "GAMING PREFERENCE QUIZ" %}</h3>
</div>
{% endblock page_header %}

{% block description %}
{% blocktrans %}Discover your gaming tastes while unlocking personalized game recommendations. Answer a few questions and unlock a world of gaming delights tailored just for you.{% endblocktrans %}
{% endblock description %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/users/quiz.css' %}">

<form method="post">
    {% csrf_token %}
    {% for question in questions %}
    <div>
        <label class="question">{{ question.question_text }}</label>
        <ul class="errors">
            {% for error in form.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        <div>
            <label class="form-check-inline">
                <input type="radio" name="question_{{ question.id }}" value="option1"> {{ question.option1 }}
            </label>
            <label class="form-check-inline">
                <input type="radio" name="question_{{ question.id }}" value="option2"> {{ question.option2 }}
            </label>
            <label class="form-check-inline">
                <input type="radio" name="question_{{ question.id }}" value="option3"> {{ question.option3 }}
            </label>
            <label class="form-check-inline">
                <input type="radio" name="question_{{ question.id }}" value="option4"> {{ question.option4 }}
            </label>
        </div>
    </div>
    {% endfor %}
    <button type="submit">Submit</button>
</form>


{% endblock content %}